@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference:wght@400;700&display=swap');

.airmana-logo {
  font-family: 'Glacial Indifference', sans-serif;
  color: #E9BDC7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
